<h1 mat-dialog-title>Create a redirect</h1>

<div mat-dialog-content>
  <form>
    <p>
      <mat-form-field>
        <mat-label>Target website</mat-label>
        <input type="url" matInput [formControl]="target" placeholder="https://www.google.com/">
        <mat-error *ngIf="target.hasError('pattern') && !target.hasError('required')">
          Please enter a valid url
        </mat-error>
        <mat-error *ngIf="target.hasError('required')">
          Url is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </p>


    <p>
      <mat-form-field class="password-field">
        <mat-label>Enter password (optionally)</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </p>

  </form>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="cancelButton()">Cancel</button>
  <button mat-button [disabled]="!target.valid" (click)="okButton()">Ok</button>
</div>
