<section class="center-block">
  <h1 class="header">This link is protected with password.
    To access target website, please, enter the password!</h1>
  <p>
    <mat-form-field class="password-field">
      <mat-label>Enter password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </p>

  <p>
    <button class="submit-btn" mat-raised-button color="accent" (click)="submitButton()">Submit</button>
  </p>
</section>
