<section class="center-block">
  <h2 class="header-text">Available redirects</h2>

  <mat-list class="redirect_items_box">
    <mat-list-item *ngFor="let re of redirects" class="redirect_mat_list_item">
      <div class="redirect_item_box">
        <p class="redirect_item_short">Shortcut: <b>{{re.shortLink}}</b></p>
        <div class="redirect_item_info">
          <mat-icon class="redirect_item_icon">shortcut</mat-icon>
          <span class="redirect_item_use_count">{{re.useCount}}</span>
        </div>
        <p class="redirect_item_target">Target: <b>{{re.target}}</b></p>
      </div>
      <div class="redirect_item_actions">
        <button mat-button (click)="info(re)" >
          <mat-icon class="redirect_item_icon">info</mat-icon>
        </button>
        <button mat-button (click)="delete(re)">
          <mat-icon class="redirect_item_icon">delete</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <button mat-raised-button color="accent" (click)="create()">Create redirect</button>

</section>
