<section class="center-block">
  <h2 class="header-text">Available redirects</h2>

  <div *ngIf="redirects.length == 0" class="no-redirects-box">
    <p>You haven't any redirects created. It's time to create a  one!</p>
  </div>

  <mat-list class="redirect_items_box">
    <mat-list-item *ngFor="let re of redirects" class="redirect_mat_list_item">
      <div class="redirect_item_box">
        <p class="redirect_item_short">Shortcut: <b>{{re.key}}</b></p>
        <p class="redirect_item_target">Target: <a href="{{re.data.target}}">{{re.data.target}}</a></p>
      </div>
      <div class="redirect_item_actions">
        <button mat-button [cdkCopyToClipboard]="copy(re)" (click)="openCopyNotification()">
          <mat-icon class="redirect_item_icon">content_copy</mat-icon>
        </button>
        <button mat-button (click)="delete(re)">
          <mat-icon class="redirect_item_icon">delete</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <button mat-raised-button color="accent" (click)="create()">Create redirect</button>

</section>
